<launch>
    <include
        file="$(find gazebo_ros)/launch/empty_world.launch" />
  <!-- <rosparam file="$(find cart_assembly)/config/joint_names_cart_assembly.yaml" command="load"/> -->
  
  <param name="robot_description"
      textfile="$(find cart_assembly)/urdf/cart_assembly.urdf"/>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
      args="-param robot_description -urdf -model cart_assembly" />

  <rosparam file="$(find omni_bot)/config/omni_bot.yaml" command="load"/>
  <node name="control_spawn" pkg="controller_manager" type="spawner" respawn="false" ns="omni_bot"
    output="screen" args="
      joint_state_controller 
      left_wheel_controller 
      right_wheel_controller 
      front_wheel_controller"/>

  <node name="robot_state_publisher" ns="cart_assembly" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    <remap from="/joint_states" to="/cart_assembly/joint_states"/>
    </node>
</launch>